<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />

    <link rel="stylesheet" href="css/pico.min.css">

    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Noto+Sans"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ubuntu"
    />

    <title>meetmonkey</title>
  </head>
  <body>
    <h1 class="title">Meet Monkey</h1>
    
    <img class="photo" src="static/images/gorilla-office.jpg">
    
    <h2 class="name">Bruce</h2>
    
    <ul class="bio">
      <li class="species">Species</li>
      <li class="aboutme">Bio</li>
      <li class="interests">Likes/Dislikes</li>
    </ul>
  
  </body>

   
  </body>
</html>
