<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />

    <link rel="stylesheet" href="css/pico.min.css">

    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Noto+Sans"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ubuntu"
    />

    <style>
      body {
        align-content: center;
      }
    </style>

    <title>meetmonkey</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Free Robux</a></li>
        <li><strong>meetmonkey</strong></li>
        <li><a href="https://github.com/jjoeldaniel/meetmonkey" target="_blank">Source Code</a></li>
      </ul>
    </nav>
    <div class="container">
      <img style="margin-left:350px" class="photo" src="https://github.com/jjoeldaniel/meetmonkey/blob/main/static/images/monkey10.jpg?raw=true">
      
      <h2 style="margin-left:500px" class="name">{{name}}</h2>
      
      <ul class="bio">
        <li class="aboutme"><strong>Bio:</strong> {{bio}}</li>
        <li class="interests"><strong>Likes/Dislikes:</strong>
          {% for x in likes %}
          {{x}}, 
          {% endfor %}
        </li>
      </ul>
    </div>
  
  </body>

   
  </body>
</html>
